
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/*Aplicar a todos los elementos*/
* {
    margin: 0; /*Un margen para la pantalla del usuario, bordes externos*/
    /*border: 0; Un espacio dentro del margen*/
    padding: 0; /*Dentro del borde*/
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

/*Aplicar al cuerpo de la página*/
body {
    display: flex; /*Contenedor flexible*/
    justify-content: flex-start; /*Centrar los elementos del body de manera vertical*/
    align-items: center; /*Centrar los elementos del body de manera horizontal*/
    min-height: 100vh; /*Mantener la altura de la ventana del navegador en 100%, vh: viewportheight*/
    overflow: hidden;
    background-image: url('fondo.svg'); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed; /* Fijar el fondo en la ventana del navegador */
    
}

.fullbox {
    height: 1000px;
    width: 800px;
    border: 2px solid rgba(255, 255, 255, 0.93);
    background: rgba(255, 255, 255, 0.93);
    box-shadow: 0 0 10px rgba(0,0,0,.3);
    color: #333;
    padding: 30px 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.fullbox .form-label {
    margin-bottom: 7px;
    position: relative;
    font-size: 16px;
    text-align: center;
    color: #333;
}

/*Aplicar estilo al titulo principal (Iniciar sesion)*/
.fullbox h1 {
    font-size: 36px; /*Asignar tamaño del titulo*/
    text-align: center; /*Centrar texto*/
    font-weight: 600;
}

/*Aplicar estilo a las cajas de insertar correo electronico y contraseña*/
.fullbox .input-box {
    position: relative;
    width: 700px; /*Ancho*/
    height: 50px; /*Alto*/ 
    margin: 30px 0px; /* Altura desde el centro (px), Anchura desde el centro (px) */
    margin-bottom: 50px;
}

/*Modificar el texto dentro de la cajas*/
.input-box input {
    width: 100%; /*Ancho*/
    height: 100%; /*Alto*/ 
    background: transparent;
    outline: none;
    border: 2px solid rgba(255, 255, 255, .2);
    background: rgba(78, 171, 224, 0.26);
    border-radius: 10px; /*Redondear*/ 
    font-size: 16px;
    color: #0B6380;
    padding: 20px 45px 20px 20px;
}

/*Aplicar color al placeholder / Contenido o texto  dentro de las cajas*/ 
.input-box input::placeholder {
    color: #0B6380;
}

.input-box i {
    position: absolute;
    right: 20px;
    top:110%;
    transform: translateY(-50%);
    font-size: 20px; /*Agrandar iconos*/

    /* Absoulta: No afectan a otros elementos que este cercas, pueden sobreponerse
       Relativa: Afecta el flujo de otros elementos cerca*/
}

.fullbox .olvidarContraseña {
    position: relative;
    display: flex;
    justify-content: space-between;
    font-size: 13px;
    margin: -10px 0px 20px;
}

/*Decoración para el texto*/
.olvidarContraseña a {
    color: #333;
    text-decoration: none;
}

/*Decoración para que parezca un link (que se esconda)*/
.olvidarContraseña a:hover {
    text-decoration: underline;
}

/*Decoración para el boton de iniciar sesion*/
.fullbox .botonIniciarSesion {
    width: 100%;
    height: 45px;
    background: #0B6380;
    border: none;
    outline: none;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .3);
    cursor: pointer;
    font-size: 16px;
    color: #fff;
    font-weight: 600;
    cursor: pointer;    
    transition: background-color 0.3s ease; /* Transición suave para el cambio de color de fondo */
}

.fullbox .botonGoogle {
    width: 100%;
    height: 50px;
    background: #e9e9e9ab;
    border: none;
    outline: none;
    font-size: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .3);
    cursor: pointer;
    margin-top: 20px;
    transition: background-color 0.3s ease; /* Transición suave para el cambio de color de fondo */
}

.fullbox .botonAtras {
    width: 50px;
    height: 50px;
    background: #e9e9e9ab;
    border: none;
    outline: none;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .3);
    cursor: pointer;
    margin-top: 20px;
    margin-left: 20px;
    transition: background-color 0.3s ease; /* Transición suave para el cambio de color de fondo */
    position: fixed;
    top: 0;
    left: 0;
}

.botonIniciarSesion:hover {
    background-color: #3A92C1; /* Color degradado al pasar el mouse */
}

.botonGoogle:hover {
    background-color: #ffffff; /* Color degradado al pasar el mouse */
}
.botonAtras:hover {
    background-color: #ffffff; /* Color degradado al pasar el mouse */
}

/*Estilo para el texto de registrarse*/ 
.fullbox .registrarse {
    font-size: 16px;
    text-align: center;
    margin-top: 20px;
    color: #333;
}

/*Decoración para el texto*/
.registrarse p a {
    color: #333;
    text-decoration: none;
    font-weight: 600;
}

.registrarse a:hover {
    text-decoration: underline;
}