@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/*Aplicar a todos los elementos*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

/*Aplicar al cuerpo de la página*/
body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    overflow: hidden;
    background-attachment: fixed;
}

.fullbox {
    height: 650px;
    width: 80%;
    background: rgba(255, 255, 255, 0.93);
    color: #333;
    padding: 30px 40px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    align-items: center;
    justify-content: center;
}

.fullbox .form-label {
    margin-bottom: 7px;
    position: relative;
    font-size: 16px;
    text-align: center;
    color: #333;
}

.fullbox h1 {
    font-size: 36px;
    text-align: center;
    font-weight: 600;
    grid-column: span 2;
}

.fullbox .input-box {
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0px;
    margin-bottom: 50px;
}

.input-box input {
    width: 100%;
    height: 100%;
    background: transparent;
    outline: none;
    border: 2px solid rgba(255, 255, 255, .2);
    background: rgba(78, 171, 224, 0.26);
    border-radius: 10px;
    font-size: 16px;
    color: #0B6380;
    padding: 20px 45px 20px 20px;
}

.input-box input::placeholder {
    color: #0B6380;
}

.input-box {
    position: relative;
    width: 100%;
    height: 50px;
    margin-bottom: 50px;
}

.fullbox .olvidarContraseña {
    position: relative;
    display: flex;
    justify-content: space-between;
    font-size: 13px;
    margin: -10px 0px 20px;
}

.olvidarContraseña a {
    color: #333;
    text-decoration: none;
}

.olvidarContraseña a:hover {
    text-decoration: underline;
}

.fullbox .botonIniciarSesion {
    width: 100%;
    height: 52px;
    background: #0B6380;
    border: none;
    outline: none;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .3);
    cursor: pointer;
    font-size: 20px;
    color: #fff;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 20px;
}

.fullbox .botonGoogle {
    width: 100%;
    height: 50px;
    background: #e9e9e9ab;
    border: none;
    outline: none;
    font-size: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .3);
    cursor: pointer;
    margin-top: 20px;
    transition: background-color 0.3s ease;
}

.botonAtras {
    width: 50px;
    height: 50px;
    background: #e9e9e9ab;
    border: none;
    outline: none;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .3);
    cursor: pointer;
    margin-top: 20px;
    margin-left: 20px;
    transition: background-color 0.3s ease;
    position: fixed;
    top: 0;
    left: 0;
}

.botonIniciarSesion:hover {
    background-color: #3A92C1;
}

.botonGoogle:hover {
    background-color: #ffffff;
}

.botonAtras:hover {
    background-color: #ffffff;
}

/* Estilo para el dropdown */
.dropdown {
    position: relative;
    width: 100%;
    height: 50px;
}

.dropdown-btn {
    width: calc(100% - 25px);
    height: 100%;
    outline: none;
    border: 2px solid rgba(255, 255, 255, .2);
    background: rgba(78, 171, 224, 0.26);
    border-radius: 10px;
    font-size: 16px;
    color: #0B6380;
    padding: 15px 25px;
    cursor: pointer;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content a {
    display: block;
    color: #0B6380;
    text-decoration: none;
}

.dropdown-content a:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

.dropdown-btn {
    width: 100%;
    height: 50px;
    outline: none;
    border: 2px solid rgba(255, 255, 255, .2);
    background: rgba(78, 171, 224, 0.26);
    border-radius: 10px;
    font-size: 16px;
    color: #0B6380;
    padding: 0 45px 0 20px;
    cursor: pointer;
}
