@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/*Aplicar a todos los elementos*/
* {
    margin: 0; /*Un margen para la pantalla del usuario, bordes externos*/
    /*border: 0; Un espacio dentro del margen*/
    padding: 0; /*Dentro del borde*/
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

/*Aplicar al cuerpo de la página*/
body {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    min-height: 100vh;
    overflow: hidden;
    background: linear-gradient(to bottom, #FFFFFF, #0B6380);
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.fullbox {
    height: 100vh;
    width: 60%;
    border: 2px solid rgba(255, 255, 255);
    background: rgba(255, 255, 255);
    box-shadow: 0 0 10px rgba(0, 0, 0, .3);
    color: #333;
    padding: 0 70px; /* Ajuste del padding */
    display: flex;
    align-items: center; /* Centra verticalmente */
    justify-content: center; /* Centra horizontalmente */
}

/* Toast */
#loginToast {
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 9999; /* Asegura que el toast esté por encima de otros elementos */
    background-color: #e9e9e9ab;
    color: #000000;
  }

#passwordToast {
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 9999; /* Asegura que el toast esté por encima de otros elementos */
    background-color: #e9e9e9ab;
    color: #000000;
  }

  /* Icono para volver al menu principal */
  .etiqueta {
    position: fixed;
    top: 2vh; /* Ajusta este valor según sea necesario */
    left: 2vw; /* Ajusta este valor según sea necesario */
  }

.contenedor {
  position: relative;
}

.contenedorCentrado {
    height: 50vh;
    width: 100vh;
    font-size: 60px; /*Asignar tamaño del titulo*/
    font-weight: 750;
    color: #FFFFFF;
}

.fullbox .form-label {
    margin-bottom: 7px;
    position: relative;
    font-size: 16px;
    text-align: center;
    color: #333;
}

/*Aplicar estilo al titulo principal (Iniciar sesion)*/
.fullbox h1 {
    position: relative;
    font-size: 38px; /*Asignar tamaño del titulo*/
    text-align: left; /*Centrar texto*/
    font-weight: 700;
}

/*Aplicar estilo a las cajas de insertar correo electronico y contraseña*/
.fullbox .input-box {
    position: relative;
    width: 420px; /*Ancho*/
    height: 50px; /*Alto*/ 
    margin: 30px 0px; /* Altura desde el centro (px), Anchura desde el centro (px) */
    margin-bottom: 50px;
}

/*Modificar el texto dentro de la cajas*/
.input-box input {
    width: 100%; /*Ancho*/
    height: 100%; /*Alto*/ 
    background: transparent;
    outline: none;
    border: 2px solid rgba(255, 255, 255, .2);
    background: rgba(78, 171, 224, 0.26);
    border-radius: 10px; /*Redondear*/ 
    font-size: 16px;
    color: #0B6380;
    padding: 20px 45px 20px 20px;
}

/*Aplicar color al placeholder / Contenido o texto  dentro de las cajas*/ 
.input-box input::placeholder {
    color: #0B6380;
}

.input-box i {
    position: absolute;
    right: 20px;
    top:110%;
    transform: translateY(-50%);
    font-size: 20px; /*Agrandar iconos*/

    /* Absoulta: No afectan a otros elementos que este cercas, pueden sobreponerse
       Relativa: Afecta el flujo de otros elementos cerca*/
}

.fullbox .olvidarContraseña {
    position: relative;
    display: flex;
    justify-content: space-between;
    font-size: 13px;
    margin: -10px 0px 30px;
}

/*Decoración para el texto*/
.olvidarContraseña a {
    color: #333;
    text-decoration: none;
}

/*Decoración para que parezca un link (que se esconda)*/
.olvidarContraseña a:hover {
    text-decoration: underline;
}

/*Decoración para el boton de iniciar sesion*/
.fullbox .botonIniciarSesion {
    width: 100%;
    height: 50px;
    background: #0B6380;
    border: none;
    outline: none;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .3);
    cursor: pointer;
    font-size: 16px;
    color: #fff;
    font-weight: 600;
    margin-bottom: 15px;
    cursor: pointer;    
    transition: background-color 0.3s ease; /* Transición suave para el cambio de color de fondo */
}

.fullbox .botonGoogle {
    width: 100%;
    height: 50px;
    background: #e9e9e9ab;
    border: none;
    outline: none;
    font-size: 13px;
    font-weight: 350;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .3);
    cursor: pointer;
    margin-top: 20px;
    transition: background-color 0.3s ease; /* Transición suave para el cambio de color de fondo */
}

.logo {
    display: flex;
    align-items: center;
}

.botonAtras {
    width: 50px;
    height: 50px;
    background: #ffffff00;
    border: none;
    outline: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    position: relative;
}

.botonIniciarSesion:hover {
    background-color: #3A92C1; /* Color degradado al pasar el mouse */
}

.botonGoogle:hover {
    background-color: #ffffff; /* Color degradado al pasar el mouse */
}
.botonAtras:hover {
    background-color: #8fc6d8; /* Color degradado al pasar el mouse */
}

/*Estilo para el texto de registrarse*/ 
.fullbox .registrarse { 
    margin-top: 15px;  
    font-size: 13px;
    text-align: right;
    color: #333;
}

/*Decoración para el texto*/
.registrarse p a {
    font-size: 13px;
    color: #0B6380;
    text-decoration: none;
    font-weight: 600;
}

.fullbox .texto {
    width: 90%;
    margin-top: 15px;  
    font-size: 20px;
    text-align: left;
    color: #333;
}

.texto .p {
    font-size: 13px;
    color: #0B6380;
    text-decoration: none;
    font-weight: 600;
}

.registrarse a:hover {
    text-decoration: underline;
}

@media only screen and (max-width: 600px) {
    /* Estilos específicos para dispositivos pequeños */
    .fullbox {
        width: 90%; /* Reducir el ancho del contenedor principal */
        padding: 10px; /* Ajustar el relleno */
    }
    /* Añadir más estilos específicos para dispositivos pequeños según sea necesario */
}

/* Media Queries para dispositivos de tamaño mediano (tabletas) */
@media only screen and (min-width: 601px) and (max-width: 1024px) {
    /* Estilos específicos para dispositivos medianos */
    .fullbox {
        width: 70%; /* Reducir el ancho del contenedor principal */
        padding: 20px; /* Ajustar el relleno */
    }
    /* Añadir más estilos específicos para dispositivos medianos según sea necesario */
}

/* Media Queries para dispositivos de tamaño grande (escritorios) */
@media only screen and (min-width: 1025px) {
    /* Estilos específicos para dispositivos grandes */
    .fullbox {
        width: 60%; /* Reducir el ancho del contenedor principal */
        padding: 30px; /* Ajustar el relleno */
    }
    /* Añadir más estilos específicos para dispositivos grandes según sea necesario */
}
